<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Helmsman Project</vendor>
  <vendor_url>https://github.com/mangerle/helmsman</vendor_url>

  <action id="org.freedesktop.Helmsman.modify">
    <description>Modify GRUB bootloader configuration</description>
    <description xml:lang="zh_CN">修改 GRUB 引导加载程序配置</description>
    <message>Authentication is required to modify GRUB configuration and update boot entries</message>
    <message xml:lang="zh_CN">修改 GRUB 配置并更新系统引导项需要管理员身份验证</message>
    <icon_name>dialog-password</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/helmsman-daemon</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
